@font-face {
  font-family: "OktaNueHeavy";
  font-style: bold;
  src: url(/assets/fonts/OktaNeue-Heavy.woff) format("woff");
}

@font-face {
  font-family: "OktaNueBold";
  font-style: bold;
  src: url(../assets/fonts/OktaNeue-Bold.woff) format("woff");
}

@font-face {
  font-family: "OktaNueRegular";
  font-style: normal;
  src: url(/assets/fonts/OktaNeue-Regular.woff) format("woff");
}

$color-primary: #004737;
$color-secondary: #f0ab1f;
$color-tertiary: #89d0c0;
$color-tertiary-light: #e2fff5;
$color-white: #ffffff;

// RESPONISE BREAKPOINT
$bp-largest: 81.25em; // 1300px
$bp-large: 68.75em; // 1100px
$bp-medium-1: 56.25em; // 900px
$bp-medium: 50em; // 800px
$bp-small-1: 37.5em; // 600px
$bp-small: 31.25em; // 500px
$bp-smallest: 25em; // 400px

// Resets
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%; // 8px/16px = 50% -> 1rem = 8px
  }
}

body {
  font-family: "OktaNueRegular", sans-serif !important;
  font-family: 400;
  line-height: 1.6;

  a,
  a:link,
  a:visited {
    color: white;
    text-decoration: none;
  }

  input,
  label {
    display: block;
    margin-bottom: 1rem;
    @extend %default-paragraph;
  }

  input:focus,
  textarea:focus {
    box-shadow: none;
    outline: none;
  }
}
