////////////////////
/// Header section
.header {
  background-image: url(/assets/img/header.webp);
  background-color: $color-primary;
  background-blend-mode: luminosity;

  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10rem;
    width: 130rem;
    margin: 0 auto;

    @media only screen and (max-width: $bp-large) {
      height: 20rem;
    }
    @media only screen and (max-width: $bp-medium) {
      width: 90vw;
      padding: 1rem;
    }

    &-logo {
      width: 100%;
      height: 100%;
      display: block;
      @media only screen and (max-width: $bp-medium) {
        width: 60%;
        height: 60%;
      }
    }

    &-container {
      margin-left: -25rem;
      @media only screen and (max-width: $bp-medium) {
        margin-left: 0;

        display: none;
      }
    }

    &__list {
      list-style-type: none;
      display: flex;
    }
    &__item {
      font-size: 1.6rem;
      transition: all 0.2s ease-in-out;
      &:not(:last-child) {
        margin-right: 3rem;
      }

      &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: $color-white;
        transition: width 0.4s ease-in;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  h1 {
    color: $color-white;
    align-items: center;
    margin-top: 15rem;
    @media only screen and (max-width: $bp-medium) {
      font-size: 5em;
      margin-top: 20vh;
    }
  }

  ///////////////
  /// Collapse menu
  &__menu {
    transition: all 1.2s ease-in-out;

    &-svg {
      display: none;
      @media only screen and (max-width: $bp-medium) {
        display: block;
      }
      path {
        fill: $color-white;
      }
    }

    &-container {
      margin-top: -5rem;
      width: 100%;
      background-color: $color-tertiary-light;
      height: 21rem;
    }

    &__list {
      list-style-type: none;
      color: $color-primary !important;
    }
    &__link {
      color: $color-primary !important;
      font-size: 1.6rem;
    }
    &__item {
      padding: 1.3rem;
      border-bottom: 1px solid #000;

      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: lighten($color-primary, 50%);
        cursor: pointer;
      }
    }
    &-inactive {
      display: none;
    }
    &-active {
      display: block;
    }
  }
}

////////////////////
/// Story section
.story {
  padding: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  @media only screen and (max-width: $bp-large) {
    padding: 5rem;
  }

  &__content {
    align-self: center;
    margin-right: 5rem;
    @media only screen and (max-width: $bp-large) {
      margin-right: 0;
      margin-bottom: 3rem;
    }
    h1 {
      margin-left: -2rem;
      @media only screen and (max-width: $bp-medium) {
        font-size: 4rem;
        margin-left: 0rem;

        text-align: center;
      }
    }
    width: 50rem;

    @media only screen and (max-width: $bp-medium-1) {
      width: 100%;
    }
  }

  &__img {
    position: relative;
    width: 50rem;
    // height: 60rem;
    margin-top: -18%;
    margin-right: 5rem;

    @media only screen and (max-width: $bp-large) {
      margin-top: 0;
      margin-right: 0;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}

///////////////////
/// Impact section
.impact {
  background-color: $color-tertiary-light;

  padding: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  @media only screen and (max-width: $bp-medium) {
    padding: 5rem;
  }

  &__image {
    position: relative;
    width: 50rem;
    height: 36rem;
    margin-right: 0rem;
    margin-top: -10rem;

    @media only screen and (max-width: $bp-large-1) {
      width: 45rem;
      height: 36rem;
      margin-top: 0;
      margin-bottom: 10rem;
    }
    img {
      width: 70%;
      object-fit: cover;
      display: block;
    }

    &-2 {
      position: absolute;
      top: 40%;
      left: 35%;

      // @media only screen and (max-width: $bp-small-1) {
      //   top: 20%;
      // }
      // @media only screen and (max-width: $bp-medium-1) {
      //   top: 0%;
      //   left: 110%;
      // }
    }
  }

  &__content {
    margin-left: 5rem;
    width: 50rem;
    h1 {
      @media only screen and (max-width: $bp-medium) {
        font-size: 4rem;
        text-align: center;
      }
    }
    p {
      max-width: 57rem;
      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }
  }
}

////////////////////
/// Services section
.services {
  background-color: $color-secondary;
  padding: 10rem;

  @media only screen and (max-width: $bp-large) {
    padding: 5rem;
  }

  h1 {
    @media only screen and (max-width: $bp-medium) {
      font-size: 4rem;
      text-align: center;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 3rem;
    margin-top: 5rem;
  }

  &__item {
    text-align: center;
    padding: 0 5rem;

    @media only screen and (max-width: $bp-medium) {
      padding: 0;
    }

    img {
      margin: 0 auto;
      width: 20rem;
      height: 20rem;
      object-fit: cover;
      display: block;

      @media only screen and (max-width: $bp-medium) {
        width: 10rem;
        height: 10rem;
      }
    }
  }
}

////////////////////
/// Contact section
.contact {
  background-image: url(/assets/img/contact.webp);
  background-color: $color-secondary;
  background-blend-mode: difference;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
  grid-gap: 3rem;
  padding: 10rem;

  @media only screen and (max-width: $bp-large) {
    padding: 5rem;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $bp-medium) {
      h3 {
        text-align: center;
        font-size: 4rem;
      }
    }
  }

  &__form {
    background-color: $color-white;
    border-radius: 2rem;
    padding: 6rem 3rem;
    width: 57rem;

    &-group {
      margin-bottom: 2rem;

      input,
      textarea {
        @extend %default-paragraph;
        width: 100%;
        padding: 1rem;
        border-radius: 8px;
        border: 1px solid #000;
      }
    }
  }
}

.btn {
  border: none;
  background-color: $color-primary;
  color: $color-white;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1rem auto;
  transition: all 0.2s ease;

  &:active {
    box-shadow: none;
  }
  &:hover {
    background-color: lighten($color-primary, 5%);
    transform: translateY(-1px);
    cursor: pointer;
  }

  &-primary {
    width: 100%;
    height: 5.4rem;
    border-radius: 3.9rem;
  }
}
